.chat{
    .c {
        width: 1320px;
        height: 540px;
        padding: 84px;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
       
              
    }

    .logo {
        font-family: "Jacques Francois Shadow";
        font-size: 70px;
        left: 40px;
        top: 0px;
        position: absolute;   
    }

    .search {
        left: 40px;
        top: 110px;
        width: 250px;
        height: 55px;
        background-color: #e8e5e5;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 14px;
        font-family: Montserrat;
        padding: 0 20px 0 50px;
        border-radius: 20px;
        box-shadow: 1px 3px #726e6e;
        position: absolute;
        
    }

    .icon-S {
        font-size: 35px;
        left: 50px;
        top: 120px;
        position: absolute;
        
      }

    .icon-Ex {
        font-size: 35px;
        left: 1440px;
        top: 0px;
        position: absolute;
    }

    .icon-Cre {
        font-size: 35px;
        left: 400px;
        top: 670px;
        position: absolute;
    }

    .icon-P {
        font-size: 35px;
        left: 450px;
        top: 670px;
        position: absolute;
    }

    .icon-GIF {
        font-size: 35px;
        left: 500px;
        top: 670px;
        position: absolute;
    }

    .icon-L {
        font-size: 35px;
        left: 1430px;
        top: 670px;
        position: absolute;  
    }

      .hrs {
        border-bottom: solid #0e0d0d;
        left: 380px;
        top: 90px;
        width: 1106px;
        position: absolute;
      }

      .border {
        left: 380px;
        top: 0px;
        height: 707px;
        border-left: solid #827979;
        position: absolute;
    }

    .hr {
        border-bottom: solid #0e0d0d;
        left: 380px;
        top: 665px;
        width: 1106px;
        position: absolute;
    }

    .user {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        position: absolute;
        left: 400px;
        top: 10px;
      }

      .users {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        position: absolute;
        left: 30px;
        top: 185px;
      }

      .N-user {
        font-size: 26px;
        top: 18px;
        position: absolute;
        left: 490px;
      }

      .N-users {
        font-size: 30px;
       position: absolute;
       left: 130px;
       top: 200px;
      }

      .link {
        text-decoration: none;
        color: #000;
        text-shadow: 1px 1px #000;
      }

      .mes {
        left: 540px;
        top: 670px;
        width: 650px;
        height: 38px;
        background-color: #e8e5e5;
        box-sizing: border-box;
        border: 1px solid #e8e3e3;
        font-size: 20px;
        font-family: Montserrat;
        padding: 0 20px 0 50px;
        // box-shadow: 1px 3px #726e6e;
        position: absolute;
      }

      .userse {
        width: 120px;
        height: 120px;
        border-radius: 80px;
        position: absolute;
        left: 830px;
        top: 100px;
      }

      .name {
       
       font-size: 40px;
       position: absolute;
       left: 840px;
       top: 220px;
      }

      .m {
        
        color: #726e6e;
       font-size: 20px;
       position: absolute;
       left: 740px;
       top: 270px;
      }

      .mm {
       
       font-size: 20px;
       position: absolute;
       left: 800px;
       top: 300px;
      }

}